{% load static from staticfiles %}

<!DOCTYPE html>

<footer class="footer">
  <header class="wrapper">
    <div class="external">
      <figure class="external__item--1">
        <a href="https://github.com/Existentialist-Robot"><img src="{% static 'GitHub.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--2">
        <a href="https://twitter.com/Strive_To_Exist"><img src="{% static 'twitter.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--3">
        <a href="https://www.linkedin.com/in/eden-redman-neuro/"><img src="{% static 'linkedin.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--4">
        <a href="eredman@ualberta.ca"><img src="{% static 'google.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--6">
        <a href="https://sites.google.com/ualberta.ca/edenredman/"><img src="{% static 'Google2.png' %}" height="50" width="50"/></a>
      </figure>
      <figure class="external__item--5">
        <p>CanadaNeuroTech © 2019</p>
      </figure>
    </div>
  </header>
</footer>
